<!DOCTYPE html>
<html>
    <head>
        <title>Book Reviews</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body style="background-color: #f2f2f2; margin:0px">
        <div class="large-header">
            {% block image %}{% endblock %}
            <h2 class="primary">BOOKSMATION </h2>
        </div>
        <div class="large-card">
            {% block content %}{% endblock %}
        </div>
  
    </body>
</html>